* {
  margin: 0;
  padding: 0;
}

.pazioli-nav__container {
  height: 90px;
  width: 90%;
  max-width: 1200px;
  padding: 25px;
  margin: 0 auto;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.5px;
}
.pazioli-nav__container .pazioli-nav__list {
  display: flex;
  padding: 0;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
}
.pazioli-nav__container .pazioli-nav__list .pazioli-nav__logo .pazioli-nav__img {
  width: 88px;
  height: 44px;
}
.pazioli-nav__container .pazioli-nav__list .pull__right {
  margin-right: auto;
}
.pazioli-nav__container .pazioli-nav__list .pazioli-nav__link {
  text-decoration: none;
  font-weight: 600;
  color: #000;
}
.pazioli-nav__container .pazioli-nav__list .pazioli-nav__link:hover {
  cursor: pointer;
  color: rgb(56, 56, 56);
}
.pazioli-nav__container .pazioli-nav__list .pazioli-nav__link-button {
  width: 129px;
  height: 32px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.5px;
  cursor: pointer;
}
.pazioli-nav__container .pazioli-nav__list .pazioli-nav__link-button:hover {
  background-color: rgb(56, 56, 56);
  color: #fff;
}
.pazioli-nav__container .pazioli-nav__list .pazioli-nav__carrito .pazioli-nav__icon {
  width: 20px;
  height: 20px;
}

@media (max-width: 768px) {
  a, .pazioli-nav__link {
    display: none;
  }
}
.introduction__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro__slogan {
  font-family: "Raleway";
  color: rgb(133, 133, 133);
  font-size: 16px;
}

.intro__title {
  font-family: "Abril Fatface";
  font-size: 56px;
  color: rgb(0, 0, 0);
}

.intro__courses {
  width: 129px;
  height: 32px;
  border-radius: 8px;
  border: none;
  font-family: "Poppins";
  color: white;
  background: black;
}

.intro__courses:hover {
  background: rgba(0, 0, 0, 0.75);
}

.intro__courses:active {
  background: black;
}

.intro__get-piano {
  width: 129px;
  height: 32px;
  border-radius: 8px;
  border: 1px;
  border-color: black;
  color: black;
  background: white;
  border-style: solid;
}

.black_piano {
  width: 600px;
  height: 450px;
}

.cont-social__media {
  display: flex;
  flex-direction: column-reverse;
  align-items: end;
}

.main__container {
  display: flex;
}

@media screen and (max-width: 780px) {
  .cont-social__media {
    visibility: hidden;
  }
  .intro__title {
    font-family: "Raleway";
    font-size: 32px;
  }
  .black_piano {
    width: 251px;
    height: 194px;
  }
}
.confirm {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 16px;
}

.new_model_title {
  font-family: "Abril Fatface";
  font-weight: 400;
  font-size: 32px;
}

.card_new_model {
  text-align: center;
  background: linear-gradient(180deg, #ffffff 0%, rgba(0, 0, 0, 0.9) 37.19%, rgba(0, 0, 0, 0.75) 76.04%, #ffffff 100%);
  margin-bottom: 70px;
}
.card_new_model .bg_image_pianist {
  display: flex;
  justify-content: flex-end;
}
.card_new_model .background__piano {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.card_new_model .pianist {
  position: absolute;
  width: 100%;
  opacity: 0.1;
}
.card_new_model .info {
  color: white;
  padding: 0 1rem;
  padding-top: 1rem;
}
.card_new_model .Rating__star {
  width: 20px;
  height: 17px;
  margin-left: 6px;
}
.card_new_model .Rating {
  font-family: "Raleway";
  font-weight: 600;
  font-size: 14px;
  margin-right: 25px;
}
.card_new_model .description {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 2rem;
}
.card_new_model li {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 16px;
  display: inline;
}
.card_new_model li a {
  text-decoration: none;
  color: white;
}
.card_new_model .options {
  margin-bottom: 2rem;
  padding-left: 0;
}
.card_new_model .options li {
  padding: 10px;
}
.card_new_model .confirm_piano {
  width: 18rem;
  height: 2.5rem;
  border-radius: 10px;
  border: none;
  font-family: "Poppins";
  color: white;
  background: black;
}

@media screen and (min-width: 600px) {
  .card_new_model {
    margin-top: 180px;
  }
  .card_new_model .container {
    display: flex;
    flex-direction: row-reverse;
  }
  .card_new_model .pianist {
    width: 100%;
    height: 39rem;
  }
  .card_new_model .background__piano {
    width: 60%;
  }
  .card_new_model .background__piano img {
    height: 40rem;
    width: 40rem;
    margin-top: -75px;
  }
  .card_new_model .info {
    text-align: left;
    width: 37%;
    height: 28rem;
  }
}/*# sourceMappingURL=styles.css.map */